.navbar {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: rgba(1, 4, 49, 0.719);
  padding-left: 20px;
}

.jumbotron {
  background: url("https://images.unsplash.com/photo-1517502884422-41eaead166d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80");
  background-size: cover;
  height: calc(100vh - 53px);
}

.jumbotron h1 {
  color: rgba(1, 4, 49, 0.719);
}

.jumbotron p {
  color: rgb(255, 255, 255);
}

.speakerHeader {
  margin-top: 20px;
}

.speakerHeader h1 {
  margin-bottom: 20px;
}

.speakerCardWrapper {
  padding: 100px;
}

.speakerCard {
  padding: 60px;
}

.speakerCard > * {
  margin-bottom: 30px;
}

.img-thumbnail {
  border: none;
  border-radius: 16px;
}

.btn {
  border: 3px solid white;
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  background: rgba(1, 4, 49, 0.795);
  border-radius: 10px;
}

.btn a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}


.tickets h2 {
  margin-bottom: 30px;
}

.tickets p {
  margin-bottom: 20px;
}

.tickets span {
    font-weight: bold;
}

.maps {
  padding: 100px;
}

.maps h2 {
  margin-bottom: 35px;
}

.maps p {
  margin-bottom: 25px;
  width: 50%;
}

.maps span {
  font-weight: bold;
}

.footer {
  padding-left: 100px;
  padding-right: 100px;
}

.smlinks {
    text-decoration: none;
    padding-bottom: 20px;
}

.smlinks a {
  font-size: 25px;
  color: grey;
  letter-spacing: 5px;
}

.copyright {
  text-align: right;
}